body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    front-size: 50px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 20%;
}
.link-buton{
    text-decoration: rgba(240, 139, 16, 0.801);
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(showoff/banner.png);
}